*{
    color: white;
    text-decoration: none;
    padding: 0px;
    font-family:amazon emner,sans-seriflato;
    font-size: 16px;
}

body{
    background-color: rgb(19, 36, 60);
}

/* /* #navbar{
    background-color:rgb(28, 30, 31);
    margin:15px;
    border: 4px solid white;
    
    height:60px;
}
.navelements{
    margin-left: 200px;
    font-size: 15px;



}
#navebutton{
    font-size: 16px;
    background-color: orange;
    
}
#search{
    color: whitesmoke;
    color: black;
    
} */
#container{
    border: 2px solid white;
    height: 60px;
    margin: 20px;
    background-color:rgb(28, 30, 31);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

   
    

    
   
    

    
    

}


#box1{
    
    
    display: inline-block;
    

    
}
#box2{
    
    
    display: inline-block;
    
    
    
    
    
    
}
#box4{
    
   
    display: inline-block;
}

#box3{
    
   
    display: inline-block;
}
#box5{
    
    
    
    display: inline-block;
    
    
    

}
.class{
    text-align: center;
    
   
    

}
#para1{
    font-size: 26px;
    
    
}

#box5{
    margin-left:0px;
    background-color: blue;
}
    




















